:root{
    --ck-focus-ring: 1px solid #3f51b5;
    --ck-color-list-button-on-background:#3F50B5;
    --ck-color-list-button-on-background-focus:#3F50B5;
    --ck-inner-shadow:"none";
}

.ck.ck-toolbar{
    border: 0;
  }

.ck.ck-editor__editable_inline{
      transition: border 450ms;
      border-radius: 4px;
  }