:root{
    /* --ck-focus-ring: "none"; */
    --ck-color-list-button-on-background:#3F50B5;
    --ck-color-list-button-on-background-focus:#3F50B5;
    --ck-inner-shadow:"none";
}

.ck.ck-toolbar{
    border: 0;
  }

  /* .ck.ck-editor__editable_inline{
      border: 0;
  }

  .ck.ck-reset_all, .ck.ck-reset_all *{
      color: #737373;
  }

  .ck.ck-editor__editable_inline{
      padding: 0;
  } */